*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI", sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:
      radial-gradient(circle at top, #ff3b3b55, transparent 60%),
      linear-gradient(135deg, #0f0f0f, #1a1a1a);
    color:white;
}

/* PLAYER */
.player{
    width:340px;
    padding:22px;
    border-radius:22px;
    background:linear-gradient(180deg,#1c1c1c,#0c0c0c);
    box-shadow:0 25px 45px rgba(255,0,0,0.35);
}

/* COVER IMAGE */
.cover-box{
    width:100%;
    display:flex;
    justify-content:center;
    margin-bottom:16px;
}

.cover-box img{
    width:180px;
    height:180px;
    object-fit:cover;
    border-radius:16px;
    box-shadow:0 12px 25px rgba(255,0,0,0.4);
}

/* SONG INFO */
.song-info{
    text-align:center;
    margin-bottom:14px;
}

#title{
    font-size:18px;
    font-weight:600;
}

#artist{
    font-size:13px;
    color:#b3b3b3;
    margin-top:6px;
}

/* PROGRESS */
#progress{
    width:100%;
    height:4px;
    appearance:none;
    background:#2a2a2a;
    border-radius:10px;
    margin:12px 0;
}

#progress::-webkit-slider-thumb{
    appearance:none;
    width:12px;
    height:12px;
    border-radius:50%;
    background:#ff3b3b;
    box-shadow:0 0 10px #ff3b3b;
}

/* TIME */
.time{
    display:flex;
    justify-content:space-between;
    font-size:11px;
    color:#aaa;
}

/* CONTROLS */
.controls{
    margin-top:18px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:18px;
}

.controls button{
    background:transparent;
    border:none;
    color:white;
    font-size:22px;
    cursor:pointer;
    transition:0.2s;
}

.controls button:hover{
    color:#ff3b3b;
    transform:scale(1.1);
}

/* PLAY BUTTON */
.play{
    width:58px;
    height:58px;
    border-radius:50%;
    background:#ff3b3b;
    color:black !important;
    font-size:24px;
    box-shadow:0 10px 25px #ff3b3b99;
}

/* VOLUME */
#volume{
    margin-top:18px;
    width:100%;
    height:3px;
    appearance:none;
    background:#2a2a2a;
}

#volume::-webkit-slider-thumb{
    appearance:none;
    width:10px;
    height:10px;
    border-radius:50%;
    background:white;
}
